body{
  background:lightskyblue;
  margin: 0;
  
}
form {
  width: 450px;
  margin: auto;
  background: rgba(0,0,0,0.6);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 28px;
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
#boton {
  background: #31384A;
  color: #fff;
  padding: 10px;
}
#boton:hover {
  cursor: pointer;
}
@media (max-width:480px) {
  form {
    width: 100%;
  }
}

